In [1]:
%load_ext autoreload
%autoreload 2

# Online Outcomes: Predicting Success in Virtual Learning

**<font size="4">Author: Jeffrey Hanif Watson</font>**

## Imports and Project Path

In [2]:
# importing os & sys and setting project path
import os, sys

gparent = os.path.join(os.pardir, os.pardir)
sys.path.append(gparent)

# importing packages
import glob
import re
import pandas as pd
import numpy as np
import sqlite3

from src import functions as fn

import matplotlib.pyplot as plt
import seaborn as sns

## dir Check

In [3]:
!pwd

/Users/dsbox/Documents/Flatiron/phase_5/online_outcomes/notebooks/exploratory

## SQL Database

### Creating DataFrame From the Database

Creating database, connecting, and creating a cursor object.

In [4]:
file_name = 'anonymisedData.zip'
database_name = 'outcomes.db'
fn.db_create(file_name, database_name)

In [5]:
# creating connection, and cursor
data_path = os.path.join(gparent,'data/processed','outcomes.db')
conn = sqlite3.connect(data_path)  
cur = conn.cursor()

## Checking table names

In [8]:
# checking the table names
q = """SELECT name FROM sqlite_master 
WHERE type IN ('table','view') 
AND name NOT LIKE 'sqlite_%'
ORDER BY 1"""
fn.fetch(cur, q)

[('ASSESSMENTS',),
 ('COURSES',),
 ('STUDENTASSESSMENT',),
 ('STUDENTINFO',),
 ('STUDENTREGISTRATION',),
 ('STUDENTVLE',),
 ('VLE',)]

## Creating a test data frame

In [9]:
# creating test dataframe and appending column names
q = "SELECT*FROM STUDENTINFO"
df = pd.DataFrame(fn.fetch(cur, q))
df.columns = [i[0] for i in cur.description]

In [10]:
# checking first five rows
df.head()

,code_module,code_presentation,id_student,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,final_result
0,AAA,2013J,11391,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass
1,AAA,2013J,28400,F,Scotland,HE Qualification,20-30%,35-55,0,60,N,Pass
2,AAA,2013J,30268,F,North Western Region,A Level or Equivalent,30-40%,35-55,0,60,Y,Withdrawn
3,AAA,2013J,31604,F,South East Region,A Level or Equivalent,50-60%,35-55,0,60,N,Pass
4,AAA,2013J,32885,F,West Midlands Region,Lower Than A Level,50-60%,0-35,0,60,N,Pass

In [11]:
df.shape

(32593, 12)

In [12]:
df.duplicated('id_student', keep=False).sum()

7346

In [13]:
df.drop_duplicates(subset='id_student', keep='first', inplace=True)

In [14]:
df.shape

(28785, 12)

In [15]:
df.head()

,code_module,code_presentation,id_student,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,final_result
0,AAA,2013J,11391,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass
1,AAA,2013J,28400,F,Scotland,HE Qualification,20-30%,35-55,0,60,N,Pass
2,AAA,2013J,30268,F,North Western Region,A Level or Equivalent,30-40%,35-55,0,60,Y,Withdrawn
3,AAA,2013J,31604,F,South East Region,A Level or Equivalent,50-60%,35-55,0,60,N,Pass
4,AAA,2013J,32885,F,West Midlands Region,Lower Than A Level,50-60%,0-35,0,60,N,Pass